footer {
    background-color: rgb(42,42,42);
    // height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding-top: 40px;
}

.footerCard {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    
    h5 {
        margin: 0;
        padding-bottom: 17px;
        padding-left: .5px;
    }

    i{
        margin: 0;
        padding: 5px;
    }
    
    span {
        display: flex;
        align-content: center;
    }
}

.footerAboutP {
    padding-right: 25px;
}

.footerGallery {
    display:flex;
    flex-wrap: wrap;
}

footer img {
    // display: flex;
    padding: 3px;
    width: 70px;
    height: 70px;
}

.navFooter {
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
}

.footerParagraph {
    text-align: center;
    padding: 10px;
}

.socials {
    position: relative;
    display: flex;
    flex-direction: column;
    // right: 0;
    // top: 0;
}

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 15px;
    right: 0;
    top: 50%;
}

.socials i {
    padding-bottom: 30px;
}