footer {
    background-color: rgb(42,42,42);
    height: 100vh;
    display: flex;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    width: calc((100% / 3) - 30%);
    height: 100%;
}

.footerCard {
    display: flex;
    flex-direction: column;
    width: 33.3%;
    // margin: 20px;
}

footer img {
    display: flex;
    padding: 3px;
    width: 70px;
    height: 70px;
}

.navFooter {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}


