header {
    background-color: $primaryColor;
    height: 100vh;
    color: white;
    background-image: url(../restaurant/assets/image-1.jpeg);
    // position: absolute;
    background-size: cover;
}

header h1 {
    margin: 0;
}