@import "partials/setup.scss";
@import "partials/utils.scss";
@import "partials/typography.scss";
@import "partials/header.scss";
@import "partials/footer.scss";

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    width: 75%;
}

.flexContainer {
    display: flex;
}

// SECTION TWO : About US STYLES ***

h2 {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    text-align: center;
}

.largerParagraph p {
    display: flex;
    flex-direction: column;
    // justify-content: left;
}

.aboutUsGallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    float: left;
    padding: 20px;
    align-content: space-between;
}

.aboutUsGallery {
    // display: flex;
    align-content: center;
    // padding: 20px;
    width: 33%;
    height: 33%;
}

.aboutUsGallery h3 {
    text-align: center;
}

.aboutUsTextCard {
    display: flex;
    justify-content: center;
    float: right;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.largerParagraph {
    text-align: center;
}
