@import "partials/setup.scss";
@import "partials/utils.scss";
@import "partials/typography.scss";
@import "partials/header.scss";
@import "partials/footer.scss";

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    width: 70%;
}

.flexContainer {
    display: flex;
}

// SECTION TWO : About US STYLES ***

h2 {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    text-align: center;
}

.aboutUsGallery {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 50%;
}

.aboutUsTextCard {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.largerParagraph {
    width: 50%;
}
