@import "partials/setup.scss";
@import "partials/utils.scss";
@import "partials/typography.scss";
@import "partials/header.scss";
@import "partials/footer.scss";

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    width: 75%;
}

header {
    // width: 100%;
    // background-image: url(/restaurant/assets/image-1.jpeg);
}

h2 {
   
}

.titleWhite {
}
